<div>
  <form>
    <div class="relative">
      <img
        class="w-10 absolute top-3 right-8"
        src="https://static.vecteezy.com/system/resources/previews/000/439/863/large_2x/vector-users-icon.jpg"
        alt=""
      />
      <div class="absolute bg-white left-8 bottom-4">
        <div class="flex items-center gap-x-3">
          <button>
            <i class="pi text-lg text-gray-400 pi-cloud-upload"></i>
          </button>
          <button>
            <i class="pi text-lg text-gray-400 pi-face-smile"></i>
          </button>
          <button><i class="pi text-lg text-gray-400 pi-image"></i></button>
        </div>
      </div>
      <input
        class="w-full border-0 focus:border-0 focus:border-none h-16 rounded-2xl text-sm pr-20 pl-32 cairo-regular simple-sadow"
        placeholder="اكتب منشورك"
        type="text"
      />
    </div>
  </form>
</div>
