<div class="shadow-sm py-5 px-[2%]">
  <!-- root div start -->
  <div class="flex items-center justify-between">
    <!-- first div start -->
    <div class="flex items-center gap-x-3">
      <p class="text-2xl font-medium border-l-2 pl-4">
        File<span class="text-green-700">OS</span>
      </p>

      <nav routerLinkActive="flex items-center gap-x-1">
        <a
          class="cairo-meduim py-2 px-4"
          routerLinkActive="bg-[#F0F8F8] text-[#008080] rounded-xl"
          routerLink="dashboard"
          >داشبورد</a
        >
        <a
          class="cairo-meduim py-2 px-4"
          routerLinkActive=" bg-[#F0F8F8] text-[#008080] rounded-xl"
          routerLink="posts"
          >المنشورات</a
        >
        <a
          class="cairo-meduim py-2 px-4"
          routerLinkActive=" bg-[#F0F8F8] text-[#008080] rounded-xl"
          routerLink="documents"
          >المجلدات</a
        >
        <a
          class="cairo-meduim py-2 px-4"
          routerLinkActive=" bg-[#F0F8F8] text-[#008080] rounded-xl"
          routerLink="folders-category"
          >فئةالمجلدات</a
        >
        <a
          class="cairo-meduim py-2 px-4"
          routerLinkActive=" bg-[#F0F8F8] text-[#008080] rounded-xl"
          routerLink="document-library"
          >مكتبة الوثائق</a
        >
      </nav>
    </div>
    <!-- first div end -->

    <!-- second div start -->
    <div class="flex items-center gap-x-5">
      <button class="border-2 w-12 h-12 rounded-full">
        <i class="pi text-lg pi-comments"></i>
      </button>
      <button class="border-2 w-12 h-12 rounded-full">
        <div class="bg-green-800 w-2 h-2 rounded-full"></div>
        <i class="pi text-lg pi-bell"></i>
      </button>
      <button class="border-2 w-12 h-12 rounded-full">
        <img
          class="w-full h-full rounded-full"
          src="https://t3.ftcdn.net/jpg/03/35/34/80/360_F_335348056_yY8QyHP966KePjyutnns1Puwt2bnngZc.jpg"
          alt=""
        />
      </button>
    </div>
    <!-- second div ends -->
  </div>
  <!-- root div ends -->
</div>
