<div
  class="flex gap-x-4 hover:bg-zinc-50 py-6 px-8 rounded-md border-r-4 border-r-transparent border-b hover:cursor-pointer transition-all duration-75 hover:border-r-green-700"
>
  <!-- image part -->
  <div>
    <img
      class="w-10"
      src="https://static.vecteezy.com/system/resources/previews/000/439/863/large_2x/vector-users-icon.jpg"
      alt=""
    />
  </div>

  <!-- content -->
  <div class="w-full">
    <div class="flex justify-between">
      <p class="cairo-bold text-sm">عنوان الاشعار</p>
      <p class="cairo-regular text-xs text-gray-500">منذ 3 دقائق</p>
    </div>
    <p class="cairo-regular mt-2 text-sm leading-6">
      هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص
      من مولد النص العربى، حيث يمكنك أن
    </p>
  </div>
</div>
