<div class="mt-5 mb-3">
  <form>
    <div class="relative flex items-center gap-x-4">
      <div>
        <img
          class="w-10"
          src="https://static.vecteezy.com/system/resources/previews/000/439/863/large_2x/vector-users-icon.jpg"
          alt=""
        />
      </div>

      <div class="w-full">
        <div class="absolute bg-transparent left-8 bottom-3">
          <div class="flex items-center gap-x-3">
            <button>
              <i class="pi text-lg text-gray-400 pi-cloud-upload"></i>
            </button>
            <button>
              <i class="pi text-lg text-gray-400 pi-face-smile"></i>
            </button>
            <button><i class="pi text-lg text-gray-400 pi-image"></i></button>
          </div>
        </div>
        <input
          class="w-full bg-zinc-100 border focus:border-0 focus:border-none h-14 rounded-xl text-sm pr-5 pl-32 cairo-regular simple-sadow"
          placeholder="اكتب تعليق"
          type="text"
        />
      </div>
    </div>
  </form>
</div>
