<section>
  <app-posts-side-nav></app-posts-side-nav>
  <!-- root div -->
  <div class="grid grid-cols-6 py-10 gap-x-8 px-[2%]">
    <!-- dashboard -->
    <div class="col-span-4">
      <div class="grid grid-cols-3 gap-x-10">
        <app-title-card
          [color]="elm.color"
          [title]="elm.title"
          [number]="elm.number"
          [icon]="elm.icon"
          [statics]="elm.statics"
          *ngFor="let elm of titleCard"
        ></app-title-card>
      </div>

      <!-- tasks root -->
      <div class="simple-sadow mt-10 bg-white rounded-2xl px-10 py-12">
        <div class="mb-10 flex items-center justify-between">
          <p class="cairo-bold text-lg">المهام</p>
          <div>
            <p-selectButton
              styleClass="text-green-500 cairo-meduim"
              [options]="tasks"
              [(ngModel)]="selectedTask"
              optionLabel="label"
              optionValue="value"
            />
          </div>
        </div>

        <!-- task table -->
        <div>
          <p-table
            [value]="products"
            styleClass="p-datatable-striped"
            [tableStyle]="{ 'min-width': '50rem' }"
          >
            <ng-template pTemplate="header">
              <tr class="border-b">
                <th style="width: 16.6%" class="cairo-bold text-sm text-center">
                  #
                </th>
                <th style="width: 16.6%" class="cairo-bold text-sm text-center">
                  اسم المهمة
                </th>
                <th style="width: 16.6%" class="cairo-bold text-sm text-center">
                  الفئة
                </th>
                <th style="width: 16.6%" class="cairo-bold text-sm text-center">
                  التاريخ النهائي
                </th>
                <th style="width: 16.6%" class="cairo-bold text-sm text-center">
                  حالة المهمة
                </th>
                <th style="width: 16.6%" class="cairo-bold text-sm text-center">
                  الخيارات
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
              <tr>
                <td class="cairo-regular text-sm text-center">
                  {{ product.code }}
                </td>
                <td class="cairo-regular text-sm text-center">
                  {{ product.task }}
                </td>
                <td class="cairo-regular text-sm text-center">
                  {{ product.category }}
                </td>
                <td class="cairo-regular text-sm text-center">
                  {{ product.finallDate }}
                </td>
                <td class="cairo-regular text-sm flex justify-center">
                  <button class="bg-red-50 py-2 px-4 rounded-lg text-red-500">
                    غير منجزة
                  </button>
                </td>
                <td class="cairo-regular text-sm text-center">
                  <button
                    class="border px-1 border-black text-center rounded-full"
                  >
                    <span>...</span>
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>

    <!-- ads and news -->
    <div class="col-span-2 simple-sadow bg-white rounded-2xl px-10 py-12">
      <div class="mb-16 flex items-center justify-between">
        <p class="cairo-bold text-lg">اعلانات واخبار</p>
        <div>
          <p-selectButton
            styleClass="text-green-500 cairo-meduim"
            [options]="stateOptions"
            [(ngModel)]="value"
            optionLabel="label"
            optionValue="value"
          />
        </div>
      </div>
      <div class="flex flex-col gap-y-12">
        <app-news-card *ngFor="let elm of [1, 2, 3, 4, 5, 6]"></app-news-card>
      </div>
    </div>
  </div>
</section>
