<section>
  <!-- root div -->
  <div class="grid grid-cols-6 py-10 gap-x-5 px-[2%]">
    <!-- dashboard -->
    <div class="col-span-4">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae quaerat
        eum sed, animi ullam aperiam, asperiores facilis, inventore quia
        similique quo. Cum minima nisi facere, deserunt provident eaque,
        nesciunt culpa sapiente accusamus cupiditate reprehenderit neque sequi
        atque odit possimus iusto dolores illum delectus nihil. Exercitationem
        excepturi distinctio quis officiis blanditiis! Placeat fugiat odio alias
        repellat, error fugit ea porro, aliquid sint dolore rem incidunt
        asperiores nemo quisquam ipsa animi nesciunt eaque aliquam ipsam ratione
        cum! Culpa provident officiis tenetur soluta temporibus eum doloremque
        facilis deleniti! Temporibus praesentium fugiat, consequuntur soluta
        laudantium molestias eum atque eos, excepturi nihil, quisquam
        exercitationem nisi!
      </p>
    </div>

    <!-- ads and news -->
    <div class="col-span-2 shadow-md bg-white rounded-2xl px-10 py-12">
      <p class="mb-10" *ngFor="let elm of [1, 2, 3, 4, 5, 6]">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita
        molestiae tempora ab qui sapiente recusandae, amet nemo aspernatur
        fugiat laborum ut eaque delectus accusantium est cumque quia!
        Necessitatibus, sed laudantium!
      </p>
    </div>
  </div>
</section>
