/* You can add global styles to this file, and also import other style files */
/* Order */

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

@import "primeng/resources/primeng.css";

@layer tailwind-base, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

.cairo-regular {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.cairo-meduim {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.cairo-bold {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.simple-sadow {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.04);
}
