<p-sidebar
  position="right"
  [(visible)]="sidebarVisible"
  styleClass="w-[41rem] bg-gray-50"
>
  <ng-template pTemplate="header">
    <span class="font-semibold text-lg cairo-bold">المنشورات</span>
  </ng-template>
  <div class="border-b shadow-sm"></div>

  <!-- contect -->
  <div class="px-4 pt-16 pb-8 w-full">
    <div>
      <app-user-commint></app-user-commint>
      <app-post-card></app-post-card>
      <app-post-card [withImage]="false"></app-post-card>
    </div>
  </div>
</p-sidebar>
<p-button (onClick)="sidebarVisible = true" icon="pi pi-arrow-right" />
